<div class="animated fadeIn" id="stock-list">
  <!-- Start Header -->
  <header class="bg-blue px-5 py-3">
    <div
      class="row align-items-start mb-5 justify-content-between no-gutters w-100"
    >
      <div class="col-8">
        <!-- Titles -->
        <h6 class="col-12 p-0">Dashboard | Main Stock | List</h6>
        <h3 class="text-uppercase">
          MAIN STOCK LIST
        </h3>
      </div>
      <div class="col-4 row justify-content-end">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Welcome Habiba
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
      <!-- Filter -->
      <p class="col-12 p-0 mt-2 text-white">
        Filter by :
      </p>
      <!-- Branch -->
      <div class="col p-0 mr-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Branch</mat-label>
          <input
            type="text"
            placeholder="Branch"
            aria-label="Number"
            matInput
            [formControl]="myControlBranch"
            [matAutocomplete]="autoBranch"
            [(ngModel)]="branchValue"
          />
          <mat-icon
            class="text-black-50 pointer"
            matSuffix
            aria-label="Clear"
            (click)="branchValue = ''"
            >close</mat-icon
          >
          <mat-autocomplete
            #autoBranch="matAutocomplete"
            [displayWith]="displayBranch"
          >
            <mat-option
              *ngFor="let option of filteredBranches | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Category -->
      <div class="col p-0 mr-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Category</mat-label>
          <input
            type="text"
            placeholder="Category"
            aria-label="Number"
            matInput
            [formControl]="myControlCategory"
            [matAutocomplete]="autoCategory"
            [(ngModel)]="categoryValue"
          />
          <mat-icon
            class="text-black-50 pointer"
            matSuffix
            aria-label="Clear"
            (click)="categoryValue = ''"
            >close</mat-icon
          >
          <mat-autocomplete
            #autoCategory="matAutocomplete"
            [displayWith]="displayCategory"
          >
            <mat-option
              *ngFor="let option of filteredCategories | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Code -->
      <div class="col p-0 mr-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Code</mat-label>
          <input
            type="text"
            placeholder="Code"
            aria-label="Number"
            matInput
            [formControl]="myControlCode"
            [matAutocomplete]="autoCode"
            [(ngModel)]="codeValue"
          />
          <mat-icon
            class="text-black-50 pointer"
            matSuffix
            aria-label="Clear"
            (click)="codeValue = ''"
            >close</mat-icon
          >
          <mat-autocomplete
            #autoCode="matAutocomplete"
            [displayWith]="displayCode"
          >
            <mat-option
              *ngFor="let option of filteredCodes | async"
              [value]="option"
            >
              {{ option.label }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Status -->
      <div class="col p-0 mr-3">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Status</mat-label>
          <input
            type="text"
            placeholder="Status"
            aria-label="Number"
            matInput
            [formControl]="myControlStatus"
            [matAutocomplete]="autoStatus"
            [(ngModel)]="statusValue"
          />
          <mat-icon
            class="text-black-50 pointer"
            matSuffix
            aria-label="Clear"
            (click)="statusValue = ''"
            >close</mat-icon
          >
          <mat-autocomplete
            #autoStatus="matAutocomplete"
            [displayWith]="displayStatus"
          >
            <mat-option
              *ngFor="let option of filteredStatus | async"
              [value]="option"
            >
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <!-- Delete -->
      <div
        class="col pointer mr-3 pl-3 row align-items-center"
        *ngIf="checkedItems > 1"
        (click)="deleteMultiply()"
      >
        <div id="multi-delete" class="d-flex align-items-center">
          <i class="fas fa-trash-alt text-white"></i>
          <span class="text-white pl-2">Delete Items</span>
        </div>
      </div>
      <div class="col-4 row justify-content-between">
        <div class="col-6 row justify-content-end no-gutters">
          <button class="addBtn" routerLink="/sales/make-new-sale">
            <i class="icon-basket-loaded mr-2 align-middle"></i>
            Make New Sale
          </button>
        </div>
        <div class="col-6 row justify-content-end no-gutters">
          <button class="addBtn" routerLink="/main-stock/add-new-item">
            <i class="icon-diamond mr-2 align-middle"></i>
            Add New Item
          </button>
        </div>
      </div>
      <div class="col-12 row justify-content-start pl-3 mt-2">
        <p class="text-white m-0" *ngIf="dataSource.data.length > 1">
          Search Result {{ dataSource.data.length }} Items
        </p>
        <p class="text-white m-0" *ngIf="dataSource.data.length == 1">
          Search Result {{ dataSource.data.length }} Item
        </p>
        <p *ngIf="!dataSource.data.length" class="text-white m-0">
          No Data Available
        </p>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <!-- Start Table -->
  <div class="floated container-fluid relative">
    <table mat-table [dataSource]="dataSource" matSort id="print-stock">
      <!-- Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row" class="text-center">
          <mat-checkbox
            (change)="mutliplyAction($event)"
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
        <td mat-footer-cell *matFooterCellDef class="" style="font-size: 16px;">
          No. of Items
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef>IMAGE</th>
        <td mat-cell class="pointer" *matCellDef="let row">
          <img
            *ngIf="row.image"
            width="75px"
            height="70px"
            class="img-fluid"
            src="http://jewelry.inspia.net/backend/img/products/{{ row.image }}"
            #img
            [alt]="row.label"
            style="border: 1px solid #000"
            (click)="openImage(img)"
            class="pointer"
          />
          <span *ngIf="!row.image">No Image</span>
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          class=""
          style="font-size: 16px; font-weight: 800;"
        >
          {{ countProducts }}
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="category.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CATEGORY</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.category.name }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef class="" style="font-size: 16px;">
          Total EGP
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CODE</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.label }}</span>
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          class=""
          style="font-size: 16px; font-weight: 800;"
        >
          {{ totalProducts }}
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="branch.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BRANCH</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.branch.name }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="gold_weight">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>GOLD WEIGHT</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.gold_weight }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="item_total_after_profit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>SALE PRICE</th>
        <td mat-cell *matCellDef="let row">
          <span>$ {{ row.item_total_after_profit }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATED DATE</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.product_date }}</span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="status.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>STATUS</th>
        <td mat-cell *matCellDef="let row">
          <span class="status text-uppercase" [ngClass]="row.status.name">
            {{ row.status.name }}
          </span>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="detailsmenu "
          (mouseenter)="hideme[row.id] = !hideme[row.id] && (testArea = true)"
          (mouseleave)="hideme[row.id] = !hideme[row.id] && (testArea = false)"
        >
          <ng-container>
            <div id="showOrdercontrols" *ngIf="hideme[row.id]">
              <button
                *ngIf="row.status.name == 'available'"
                class="basic_button"
                type="button"
                (click)="routeToSale(row)"
              >
                <a target="blank">
                  <img src="../../../assets/icon/invoice.svg" alt="" />
                </a>
                <span class="tooltiptext">Invoice</span>
              </button>
              <button
                *ngIf="
                  row.status.name != 'available' && row.status.name != 'pending'
                "
                class="basic_button"
                type="button"
                (click)="routeToReturn(row)"
              >
                <a target="blank">
                  <img src="../../../assets/icon/exchange.svg" alt="" />
                </a>
                <span class="tooltiptext">Refund</span>
              </button>
              <button
                *ngIf="row.status.name == 'available'"
                id="invicebutton"
                class="basic_button"
                type="button"
                (click)="myModal.show(transferForm.reset())"
                (click)="getData(row)"
              >
                <img src="../../../assets/icon/transfer.svg" alt="" />
                <span class="tooltiptext">Transfer</span>
              </button>
              <button
                *ngIf="row.status.name == 'available'"
                id="invicebutton"
                class="basic_button"
                type="button"
                (click)="openReseller(row)"
              >
                <img src="../../../assets/icon/user-2.svg" alt="" />
                <span class="tooltiptext">Reseller</span>
              </button>
              <button
                id="editButton"
                (click)="openDetailsPopup(row)"
                class="basic_button"
                type="button"
              >
                <img src="../../../assets/icon/details.svg" alt="" />
                <span class="tooltiptext">Details</span>
              </button>
              <button
                id="editButton"
                class="basic_button"
                type="button"
                (click)="openUpdataPopup(row)"
              >
                <img src="../../../assets/icon/edit.svg" alt="" />
                <span class="tooltiptext">Edit</span>
              </button>
              <button
                id="editButton"
                class="basic_button"
                type="button"
                (click)="openLabel(row)"
              >
                <img src="../../../assets/icon/barcode.svg" alt="" />
                <span class="tooltiptext">Label</span>
              </button>
              <button
                id="editButton"
                (click)="opendeletePopup(row)"
                class="basic_button"
                type="button"
              >
                <img src="../../../assets/icon/delete.svg" alt="" />
                <span class="tooltiptext">Delete</span>
              </button>
            </div>
          </ng-container>
          <button class="buttonListItems">
            <img src="../../../assets/icon/menu.svg" alt="" />
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 40, 50, 100]"
      [length]="100"
      (page)="pageEvent = $event; onPaginateChange($event)"
    ></mat-paginator>
    <!-- <div style="position: relative;">
      <div class="paginator">
        <span class="mr-2 text-white" style="font-size: 12px;"
          >Number of Page</span
        >
        <select name="" id="" (change)="selectPage($event.target.value)">
          <option
            *ngFor="let num of numberOfPages; let i = index"
            [value]="num"
          >
            {{ num }}
          </option>
        </select>
      </div>
    </div> -->
  </div>
  <!-- End Table -->
  <!-- Details -->
  <div
    id="details"
    bsModal
    #detailsModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0 border-bottom-0">
          <button
            type="button"
            class="close"
            (click)="detailsModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body p-4" *ngIf="stockData">
          <div class="d-flex justify-content-between">
            <h4 class="text-uppercase">{{ category }} {{ stockData.label }}</h4>
            <div class="status text-center text-uppercase" [ngClass]="status">
              <p>{{ status }}</p>
            </div>
          </div>
          <div class="row align-items-end no-gutters mt-3">
            <div class="col-5" id="img">
              <img [src]="stockData.barcode" class="w-100 mb-3" alt="" />
              <img
                class="w-100"
                height="205px"
                src="http://jewelry.inspia.net/backend/img/products/{{
                  stockData.image
                }}"
                [alt]="stockData.label"
              />
            </div>
            <div class="col-7 pl-5 row no-gutters justify-content-center">
              <table class="col-12" id="table-details">
                <thead>
                  <tr class="text-center">
                    <th scope="col" class="head-title border-right">
                      Category
                    </th>
                    <th scope="col" class="head-title border-right">Code</th>
                    <th scope="col" class="head-title border-right">Branch</th>
                    <th scope="col" class="head-title">Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="border-right">{{ category }}</td>
                    <td class="border-right">{{ stockData.label }}</td>
                    <td class="border-right">{{ branch }}</td>
                    <td>{{ stockData.product_date }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="col-12 mt-5 row justify-content-between no-gutters">
                <div class="col-4">
                  <div class="gold-box">
                    <h3 class="head-title">Gold Weight</h3>
                    <p>(gm)</p>
                    <p style="font-size: 1rem; font-weight: 500;">
                      {{ goldWeight }}
                    </p>
                  </div>
                </div>
                <div class="col-4 pl-1">
                  <div class="gold-box">
                    <h3 class="head-title">Gold Price</h3>
                    <p>($)</p>
                    <p style="font-size: 1rem; font-weight: 500;">
                      {{ goldPrice }}
                    </p>
                  </div>
                </div>
                <div class="col-4 pl-2">
                  <div class="gold-box">
                    <h3 class="head-title">Total</h3>
                    <p>($)</p>
                    <p style="font-size: 1rem; font-weight: 900;">
                      {{ goldTotal }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 w-100" id="stones">
            <h2
              class="head-title text-left"
              [ngClass]="stones.length == 0 ? 'text-red' : ''"
            >
              {{
                stones.length > 0
                  ? 'STONES'
                  : 'No stone available to this product'
              }}
              <span class="ml-3" *ngIf="stones.length > 1"
                >{{ stones.length }} Stones</span
              >
              <span class="ml-3" *ngIf="stones.length == 1"
                >{{ stones.length }} Stone</span
              >
            </h2>
            <div class="stone-border" *ngIf="stones.length">
              <div class="stone-table" *ngFor="let stone of stones">
                <table>
                  <thead>
                    <tr>
                      <th scope="col" class="border-right">Name</th>
                      <th scope="col" class="border-right text-center">
                        Quantity
                      </th>
                      <th scope="col" class="border-right text-center">
                        Weight (cts)
                      </th>
                      <th scope="col" class="border-right text-center">
                        Cost ($)
                      </th>
                      <th scope="col" class="border-right text-center">
                        Setting
                      </th>
                      <th scope="col" class="text-center">Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="border-right">{{ stone.name }}</td>
                      <td class="border-right text-center">
                        {{ stone.quantity }}
                      </td>
                      <td class="border-right text-center">
                        {{ stone.weight }}
                      </td>
                      <td class="border-right text-center">
                        {{ stone.price }}
                      </td>
                      <td class="border-right text-center">
                        {{ stone.setting }}
                      </td>
                      <td class="text-center">{{ stone.total }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div id="cost" class="mt-5 w-100">
              <div class="row w-75 m-auto justify-content-between">
                <div class="col-6 row justify-content-center">
                  <h4 class="col-12 text-uppercase">Cost</h4>
                  <div class="cost-box col-12">{{ totalCost }}</div>
                </div>
                <div class="col-6 row justify-content-center">
                  <h4 class="col-12 text-uppercase">
                    Cost * {{ stockData.profit_percent }} in $
                  </h4>
                  <div class="cost-box col-12">{{ finalCost }}</div>
                </div>
              </div>
            </div>
            <footer class="row mt-5 justify-content-center w-100">
              <div class=" col-md-10 col-md-offset-1">
                <div class="row justify-content-center">
                  <div
                    class="col-md-6 row justify-content-center align-items-center pointer"
                  >
                    <img
                      src="../../../assets/icon/printer.svg"
                      alt=""
                      class="mr-2"
                    />
                    <span>Print Label</span>
                  </div>
                  <div
                    class="col-md-6 row justify-content-center align-items-center pointer"
                    (click)="labelModal.show()"
                  >
                    <img
                      src="../../../assets/icon/label.svg"
                      alt=""
                      class="mr-2"
                    />
                    <span>View Label</span>
                  </div>
                </div>
              </div>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Edit -->
  <div
    id="details"
    bsModal
    #editModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0 border-bottom-0">
          <button
            type="button"
            class="close"
            (click)="editModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <form
          (ngSubmit)="onSubmit(stockUpdatForm.value)"
          #form="ngForm"
          [formGroup]="stockUpdatForm"
        >
          <div class="modal-body p-4" *ngIf="stockData">
            <div class="d-flex justify-content-between align-items-end">
              <h4 class="text-uppercase">
                {{ category }} {{ stockData.label }}
              </h4>
              <div class="status text-center text-uppercase" [ngClass]="status">
                <p>{{ status }}</p>
              </div>
            </div>
            <div class="row align-items-end no-gutters mt-3">
              <div class="col-5" id="img">
                <img [src]="stockData.barcode" class="w-100 mb-3" alt="" />
                <img
                  class="w-100"
                  height="205px"
                  src="http://jewelry.inspia.net/backend/img/products/{{
                    stockData.image
                  }}"
                  [alt]="stockData.label"
                  *ngIf="!imageArray.length"
                />
                <img class="w-100" height="205px" [src]="imageArray" alt="" />
                <button class="btn" type="button">Upload Image</button>
                <input
                  id="uploadImage"
                  type="file"
                  alife-file-to-base64
                  (change)="onUploadChange($event)"
                  accept="image/x-png,image/jpeg,image/jpg"
                  class="file-upload"
                  data-max-file-size="2M"
                  value=""
                  autocomplete="off"
                />
              </div>
              <div class="col-7 pl-5 row no-gutters justify-content-end">
                <table class="col-12" id="table-details">
                  <thead>
                    <tr class="text-center">
                      <th scope="col" class="head-title border-right">
                        Category
                      </th>
                      <th scope="col" class="head-title border-right">Code</th>
                      <th scope="col" class="head-title border-right">
                        Branch
                      </th>
                      <th scope="col" class="head-title">Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="border-right">{{ category }}</td>
                      <td class="border-right">{{ stockData.label }}</td>
                      <td class="border-right">{{ branch }}</td>
                      <td>{{ stockData.product_date }}</td>
                    </tr>
                  </tbody>
                </table>
                <div class="col-12 mt-5 row justify-content-between no-gutters">
                  <div class="col-4">
                    <div class="gold-box">
                      <h3 class="head-title">Gold Weight</h3>
                      <p>(gm)</p>
                      <input
                        class="input-text"
                        formControlName="updateGoldWeight"
                        value=""
                        (keyup)="calculateStoneTotal($event, 0, 'gW')"
                        (keypress)="numberCheckValidation($event)"
                        maxlength="9"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="col-4 pl-1">
                    <div class="gold-box">
                      <h3 class="head-title">Gold Price</h3>
                      <p>($)</p>
                      <input
                        class="input-text"
                        formControlName="updateGoldPrice"
                        value=""
                        (keyup)="calculateStoneTotal($event, 0, 'gP')"
                        (keypress)="numberCheckValidation($event)"
                        maxlength="9"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                  <div class="col-4 pl-2">
                    <div class="gold-box">
                      <h3 class="head-title">Total</h3>
                      <p>($)</p>
                      <input
                        disabled="true"
                        class="input-text"
                        formControlName="goldTotalPrice"
                        value="{{
                          !checkItemDataCalculatedIsDefiend
                            ? total_price
                            : ItemDataCalculated.gold_total
                        }}"
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5 w-100" id="stones">
              <h2
                class="head-title text-left"
                [ngClass]="stones.length == 0 ? 'text-red' : ''"
              >
                {{
                  stones.length > 0
                    ? 'STONES'
                    : 'No stone available to this product'
                }}
                <span class="ml-3" *ngIf="stones.length > 1"
                  >{{ stones.length }} Stones</span
                >
                <span class="ml-3" *ngIf="stones.length == 1"
                  >{{ stones.length }} Stone</span
                >
              </h2>
              <i
                class="fas fa-plus-circle col-2 row pr-5 pointer justify-content-end col-1 font-2xl"
                (click)="stoneModal.show(stonesForm.reset())"
              ></i>
              <div class="stone-border" *ngIf="stones.length">
                <div
                  class="stone-table"
                  *ngFor="let stone of stones; let stoneIndex = index"
                >
                  <table>
                    <thead>
                      <tr>
                        <th scope="col" class="border-right">Name</th>
                        <th scope="col" class="border-right text-center">
                          Quantity
                        </th>
                        <th scope="col" class="border-right text-center">
                          Weight (cts)
                        </th>
                        <th scope="col" class="border-right text-center">
                          Cost ($)
                        </th>
                        <th scope="col" class="border-right text-center">
                          Setting
                        </th>
                        <th scope="col" class="border-right text-center">
                          Total
                        </th>
                        <th scope="col" class="text-center">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="border-right">
                          <select
                            class="px-1 py-2"
                            name=""
                            id=""
                            formControlName="upadateStonesName"
                            (change)="
                              updateStoneData($event.target.value, stoneIndex)
                            "
                          >
                            <option value="" selected hidden>{{
                              stone.name
                            }}</option>
                            <option
                              *ngFor="let stone of stoneList"
                              [value]="stone.id"
                            >
                              {{ stone.name }}
                            </option>
                          </select>
                          <!-- {{ stone.name }} -->
                        </td>
                        <td class="border-right text-center">
                          <input
                            class="input-s"
                            value="{{ +stone.quantity }}"
                            formControlName="updateStonesQuantity"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, 'sQ')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                            autocomplete="off"
                          />
                        </td>
                        <td class="border-right text-center">
                          <input
                            class="input-s"
                            value="{{ +stone.weight }}"
                            formControlName="updateStonesWeight"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, 'sW')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                            autocomplete="off"
                          />
                        </td>
                        <td class="border-right text-center">
                          <input
                            class="input-s"
                            value="{{ +stone.price }}"
                            formControlName="updateStonesPrice"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, 'sP')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                            autocomplete="off"
                          />
                        </td>
                        <td class="border-right text-center">
                          <input
                            class="input-s"
                            value="{{ +stone.setting }}"
                            formControlName="updateSettingsSetting"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, 'sS')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                            autocomplete="off"
                          />
                        </td>
                        <td class="border-right text-center">
                          {{ stone.total }}
                        </td>
                        <td class="text-center">
                          <i
                            class="fas fa-trash-alt text-red pointer font-1xl"
                            (click)="removeStone(stoneIndex)"
                          ></i>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="cost" class="mt-5 w-100">
                <div class="row w-75 m-auto justify-content-between">
                  <div class="col-6 row justify-content-center">
                    <h4 class="col-12 text-uppercase">Cost</h4>
                    <div class="cost-box col-12">
                      {{ ItemDataCalculated.item_total }}
                    </div>
                  </div>
                  <div class="col-6 row justify-content-center">
                    <h4 class="col-12 text-uppercase">
                      Cost *
                      <input
                        (input)="openButton()"
                        type="text"
                        class="w-25 px-2 text-center"
                        formControlName="profit_percent"
                        value="{{ ItemDataCalculated.profit_percent }}"
                      />
                      in $
                    </h4>
                    <div class="cost-box col-12">
                      {{ ItemDataCalculated.item_total_after_profit }}
                    </div>
                  </div>
                </div>
              </div>

              <footer class="row mt-5 justify-content-center w-100">
                <div
                  class="w-50"
                  [ngClass]="
                    !checkItemDataCalculatedIsDefiend
                      ? 'disabledUpdate'
                      : 'updataButton'
                  "
                >
                  <button
                    class="submit-btn w-100"
                    [disabled]="
                      !checkItemDataCalculatedIsDefiend ? true : false
                    "
                  >
                    Update
                  </button>
                </div>
              </footer>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Add New Stone Model -->
  <div
    id="stoneModel"
    bsModal
    #stoneModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-diamond mt-2 mr-2 align-middle"></i>
          <h4 class="modal-title">Create New Stone</h4>
          <button
            type="button"
            class="close"
            (click)="stoneModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="stonesForm"
            (ngSubmit)="onSubmitStone(stonesForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12 row">
                <div class="form-group col-12 no-gutters">
                  <label class="title-4"
                    >Stone Type <span class="text-red">*</span></label
                  >
                  <select
                    class="p-2 itemInput w-100"
                    formControlName="id"
                    (change)="getSelectedListOptionId()"
                    (change)="getStoneDetails($event.target.value)"
                  >
                    <option disabled selected="selected" value=""
                      >Please Select Type</option
                    >
                    <option *ngFor="let stone of stoneList" [value]="stone.id">
                      {{ stone.name }}</option
                    >
                  </select>
                  <mat-hint
                    class="d-inline-block text-center w-100 mt-2 alert alert-danger"
                    *ngIf="
                      stonesForm.controls.name.errors?.required &&
                      stonesForm.controls.name.touched &&
                      !modalError.name
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.name"
                    >{{ modalError.name }}</mat-hint
                  >
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="title-4"
                      >Quantity <span class="text-red">*</span></label
                    >
                    <input
                      class="input-text p-2"
                      value=""
                      formControlName="quantity"
                      autocomplete="off"
                      placeholder="Quantity"
                    />
                  </div>
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="
                      stonesForm.controls.quantity.errors?.required &&
                      stonesForm.controls.quantity.touched &&
                      !modalError.quantity
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.quantity"
                    >{{ modalError.quantity }}</mat-hint
                  >
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="title-4"
                      >Weight (cts) <span class="text-red">*</span></label
                    >
                    <input
                      class="input-text p-2"
                      value=""
                      formControlName="weight"
                      autocomplete="off"
                      placeholder="Weight (cts)"
                    />
                  </div>
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="
                      stonesForm.controls.weight.errors?.required &&
                      stonesForm.controls.weight.touched &&
                      !modalError.weight
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.weight"
                    >{{ modalError.weight }}</mat-hint
                  >
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="title-4"
                      >Cost ($) <span class="text-red">*</span></label
                    >
                    <input
                      class="input-text p-2"
                      value=""
                      formControlName="price"
                      autocomplete="off"
                      placeholder="Cost ($)"
                    />
                  </div>
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="
                      stonesForm.controls.price.errors?.required &&
                      stonesForm.controls.price.touched &&
                      !modalError.price
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.price"
                    >{{ modalError.price }}</mat-hint
                  >
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="title-4"
                      >Setting <span class="text-red">*</span></label
                    >
                    <input
                      class="input-text p-2"
                      value=""
                      formControlName="setting"
                      autocomplete="off"
                      placeholder="Setting"
                    />
                  </div>
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="
                      stonesForm.controls.setting.errors?.required &&
                      stonesForm.controls.setting.touched &&
                      !modalError.setting
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.setting"
                    >{{ modalError.setting }}</mat-hint
                  >
                </div>
              </div>
              <div class="modal-footer border-0">
                <button
                  type="submit"
                  class="submit-btn"
                  [disabled]="
                    !stonesForm.controls.name.value &&
                    !stonesForm.controls.quantity.value &&
                    !stonesForm.controls.weight.value &&
                    !stonesForm.controls.price.value &&
                    !stonesForm.controls.setting.value
                  "
                >
                  <i class="icon-diamond mr-2 align-middle"></i>
                  Add Stone
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Label display -->
  <div
    bsModal
    id="labelModel"
    #labelModal="bs-modal"
    class="modal fade w-100"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content print-content">
        <!-- Body -->
        <div class="modal-body">
          <div class="row no-gutters align-items-center">
            <div class="col-6">
              <div class="col-12 text-center">
                <h4>{{ labelData.label }}</h4>
              </div>
              <div class="col-12 mt-2">
                <img [src]="labelData.barcode" class="w-100" alt="" />
              </div>
              <div class="col-12 mt-2 text-center">
                <h4 class="text-center">
                  {{ labelData.item_total_after_profit }}
                </h4>
              </div>
              <div class="col-12 mt-2 text-center">
                <h4 class="text-center">
                  Gold
                  <span class="ml-3">{{ labelData.gold_weight }}</span>
                </h4>
              </div>
            </div>
            <div class="col-6">
              <table>
                <tbody>
                  <tr
                    class="text-center"
                    *ngFor="let stone of labelData.stones"
                  >
                    <td>{{ stone.quantity }}</td>
                    <td>{{ stone.code }}</td>
                    <td>{{ stone.weight }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Make Transfer -->
  <div
    id="transfer"
    bsModal
    #myModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline">
          <img class="mr-2" src="../../../assets/icon/transfer.svg" alt="" />
          <h4>Make New Transfer</h4>
          <button
            type="button"
            class="close"
            (click)="myModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 row">
            <div
              class="col-6 row no-gutters justify-content-start align-items-baseline transfer-title"
            >
              <span class="mr-2">Current Branch: </span> {{ transferName }}
            </div>
            <div
              class="col-6 row justify-content-end align-items-baseline transfer-title"
            >
              <span class="mr-2">Code: </span>{{ transferCode }}
            </div>
          </h4>
          <form
            [formGroup]="transferForm"
            (ngSubmit)="onSubmitTransfer(transferForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12 row no-gutters">
                <div class="form-group col-12 no-gutters mb-0">
                  <label class="title-4"
                    >Transfer To: <span class="text-red">*</span></label
                  >
                  <select class="input-text w-100" formControlName="branch_id">
                    <option disabled selected="selected" value=""
                      >Please Select Branch</option
                    >
                    <option
                      *ngFor="let branch of branchList"
                      [value]="branch.id"
                    >
                      {{ branch.name }}</option
                    >
                  </select>
                  <mat-hint
                    class="d-inline-block text-center w-100 mt-2 alert alert-danger"
                    *ngIf="
                      transferForm.controls.branch_id.errors?.required &&
                      transferForm.controls.branch_id.touched &&
                      !modalError.branch_id
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.branch_id"
                    >{{ modalError.name }}</mat-hint
                  >
                </div>
              </div>
              <div class="modal-footer border-0">
                <button
                  type="submit"
                  class="submit-btn"
                  [disabled]="!transferForm.controls.branch_id.value"
                  [ngClass]="
                    !transferForm.controls.branch_id.value
                      ? 'disabledSubmitButton'
                      : 'enableSubmitButton'
                  "
                >
                  <img
                    class="mr-2"
                    src="../../../assets/icon/transfer.svg"
                    alt=""
                  />
                  Transfer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete One Item -->
  <div
    id="deleteModal"
    bsModal
    #deleteModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline border-0">
          <button
            type="button"
            class="close"
            (click)="deleteModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 text-center">
            <span>For delete item please type</span> DELETE
          </h4>
          <form
            [formGroup]="deleteForm"
            (ngSubmit)="deleteStock()"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-8 row">
                <div class="form-group col-12 no-gutters">
                  <input
                    type="text"
                    class="input-text w-100"
                    formControlName="deleteInput"
                    placeholder="DELETE"
                  />
                </div>
              </div>
              <div class="col-md-4 modal-footer border-0 p-0">
                <button type="submit" class="submit-btn">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Two Item -->
  <div
    id="deleteModal"
    bsModal
    #delete2Modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline border-0">
          <button
            type="button"
            class="close"
            (click)="delete2Modal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 text-center">
            <span>For delete items please type</span> DELETE
          </h4>
          <form
            [formGroup]="deleteForm"
            (ngSubmit)="removeMultiply()"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-8 row">
                <div class="form-group col-12 no-gutters">
                  <input
                    type="text"
                    class="input-text w-100"
                    formControlName="deleteInput"
                    placeholder="DELETE"
                  />
                </div>
              </div>
              <div class="col-md-4 modal-footer border-0 p-0">
                <button type="submit" class="submit-btn">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Image Modal -->
  <div
    bsModal
    #myModalImg="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content border-0" style="background: 0;">
        <div class="modal-header border-0">
          <button
            type="button"
            class="close"
            (click)="myModalImg.hide()"
            aria-label="Close"
          >
            <span class="text-white" aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <img style="width: 100%; height: auto;" [src]="imgSrc" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- Make Reseller -->
  <div
    id="reseller-modal"
    bsModal
    #resellerModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline">
          <img class="mr-2" src="../../../assets/icon/user-2.svg" alt="" />
          <h4>Make New Reseller</h4>
          <button
            type="button"
            class="close"
            (click)="resellerModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 row">
            <div
              class="col-6 row no-gutters justify-content-start align-items-baseline transfer-title"
            >
              <span class="mr-2">Current Branch: </span> {{ resellerBranch }}
            </div>
            <div
              class="col-6 row justify-content-end align-items-baseline transfer-title"
            >
              <span class="mr-2">Code: </span>{{ reseller.label }}
            </div>
          </h4>
          <form
            [formGroup]="resellerForm"
            (ngSubmit)="onSubmitReseller(resellerForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12 row no-gutters">
                <div class="form-group col-12 no-gutters mb-0">
                  <label class="title-4"
                    >Select a Client: <span class="text-red">*</span></label
                  >
                  <select class="input-text w-100" formControlName="client_id">
                    <option disabled selected="selected" value=""
                      >Please Select Client</option
                    >
                    <option *ngFor="let client of clients" [value]="client.id">
                      {{ client.name }}</option
                    >
                  </select>
                  <mat-hint
                    class="d-inline-block text-center w-100 mt-2 alert alert-danger"
                    *ngIf="
                      resellerForm.controls.client_id.errors?.required &&
                      resellerForm.controls.client_id.touched &&
                      !modalError.client_id
                    "
                    >This Field is Required</mat-hint
                  >
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.client_id"
                    >{{ modalError.client_id }}</mat-hint
                  >
                </div>
              </div>
              <div class="col-md-12 row no-gutters mt-3">
                <div class="form-group col-12 no-gutters mb-0">
                  <label class="title-4">Notes:</label>
                  <textarea
                    style="height: 150px;"
                    type="text"
                    formControlName="note"
                    class="input-text w-100 p-2"
                  ></textarea>
                  <mat-hint
                    class="d-inline-block text-center w-100 alert alert-danger"
                    *ngIf="modalError.note"
                    >{{ modalError.note }}</mat-hint
                  >
                </div>
              </div>
              <div class="modal-footer border-0">
                <button
                  type="submit"
                  class="submit-btn"
                  [disabled]="!resellerForm.controls.client_id.value"
                  [ngClass]="
                    !resellerForm.controls.client_id.value
                      ? 'disabledSubmitButton'
                      : 'enableSubmitButton'
                  "
                >
                  <img
                    class="mr-2"
                    src="../../../assets/icon/user-2.svg"
                    alt=""
                  />
                  Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
