<div class="animated fadeIn" id="make-new-item">
  <!-- Start Header -->
  <header class="bg-blue px-5 py-3">
    <div
      class="row align-items-start mb-2 justify-content-between no-gutters w-100"
    >
      <div class="col-8">
        <!-- Titles -->
        <h6 class="col-12 p-0">Dashboard | Options</h6>
        <h3 class="text-uppercase">
          Options Update
        </h3>
      </div>
      <div class="col-4 row justify-content-end">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenu2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Welcome Habiba
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)="logout()">
              Logout
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 row justify-content-end">
        <div class="col-2 p-0 row justify-content-end">
          <button class="addBtn" routerLink="/dashboard">
            <i class="icon-basket-loaded mr-2 align-middle"></i>
            Dashboard
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <div class="row mt-4 no-gutters p-5">
    <div class="col-8 m-auto" id="product-details">
      <div class="text-center">
        <img src="../../../assets/logo-login.png" alt="" />
      </div>
      <p class="text-red float-right">* Mandatory Fields</p>
      <h4 class="text-uppercase">System Settings</h4>
      <form
        #form="ngForm"
        class="row justify-content-between w-100 m-0"
        [formGroup]="settingsForm"
        (ngSubmit)="onSubmit(settingsForm.value)"
      >
        <div class="col-md-12 pl-0 mt-3">
          <div class="col-md-12 p-0">
            <img
              src="../../../assets/icon/planet-earth.svg"
              class="mr-2"
              alt=""
            />
            <label>Website </label>
            <input
              type="text"
              class="input-text w-100 py-2 text-left"
              formControlName="website"
              placeholder="Website"
            />
          </div>
          <div class="col-md-12 p-0 mt-3">
            <img
              src="../../../assets/icon/placeholder.svg"
              class="mr-2"
              alt=""
            />
            <label>Address <span class="text-red">*</span></label>
            <input
              type="text"
              class="input-text w-100 py-2 text-left"
              formControlName="address"
              placeholder="Address"
            />
          </div>
          <mat-hint
            class="d-block alert mt-2 alert-danger"
            *ngIf="errorMessage.address"
            >{{ errorMessage.address }}</mat-hint
          >
          <div class="col-md-12 p-0 mt-3">
            <img src="../../../assets/icon/phone-01.png" class="mr-2" alt="" />
            <label>Phone </label>
            <input
              type="text"
              class="input-text w-100 py-2 text-left"
              formControlName="phone"
              placeholder="Phone"
            />
          </div>
          <mat-hint
            class="d-block alert mt-2 alert-danger"
            *ngIf="errorMessage.phone"
            >{{ errorMessage.phone }}</mat-hint
          >
          <div class="col-md-12 p-0 mt-3">
            <img src="../../../assets/icon/gear.svg" class="mr-2" alt="" />
            <label
              >Dollar Price ($) in EGP <span class="text-red">*</span>
            </label>
            <input
              type="text"
              class="input-text w-100 py-2 text-left"
              formControlName="dollar_price"
              placeholder="Dollar Price ($) in EGP"
            />
          </div>
          <div *ngIf="errorMessage.dollar_price">
            <mat-hint
              class="d-block alert mt-2 alert-danger"
              *ngFor="let error of errorMessage.dollar_price"
              >{{ error }}</mat-hint
            >
          </div>
          <div class="col-md-12 p-0 mt-4 w-25">
            <button class="submit-btn w-100">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
