<div class="animated fadeIn" id="branch-details">
  <!-- Start Header -->
  <header class="bg-blue pt-5 px-5 pb-3">
    <div class="row align-items-end">
      <!-- left-hand-side-of-header -->
      <div class="row align-items-end col-12 justify-content-between">
        <div class="col-8">
          <!-- Titles -->
          <h6 class="col-12 p-0">Branches | Manage Branch</h6>
          <h3 class="text-capitalize">
            Manage Branch : {{ branchDetailsData.name }}
          </h3>
        </div>
        <div class="col-4 row justify-content-end">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome Habiba
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
          <button class="addBtn mt-3 w-100" routerLink="/settings/branches">
            <i class="icon-settings mr-2 align-middle"></i>
            Branches List
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <div class="p-5 branches-details" *ngIf="branchDetailsData">
    <h5 class="text-uppercase">{{ branchDetailsData.name }} Branch</h5>
    <div class="detailsBranch">
      <div class="row mt-3">
        <div class="col-lg-9 col-md-12">
          <table id="branch">
            <thead>
              <tr>
                <th class="border-right">
                  <img
                    class="mr-2"
                    src="../../../../../assets/icon/placeholder.svg"
                  />
                  Branch Name
                </th>
                <th class="border-right">
                  <img
                    class="mr-2"
                    src="../../../../../assets/icon/planet-earth.svg"
                  />
                  Client Address
                </th>
                <th class="border-right">
                  <img
                    class="mr-2"
                    src="../../../../../assets/icon/houses.svg"
                  />
                  Branch City
                </th>
                <th class="">
                  <img class="mr-2" src="../../../../../assets/icon/user.svg" />
                  Employess
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="border-right">
                  <span>
                    {{
                      branchDetailsData.name
                        ? branchDetailsData.name
                        : "Branch Name"
                    }}
                  </span>
                </td>
                <td class="border-right">
                  <span>{{
                    branchDetailsData.address
                      ? branchDetailsData.address
                      : "Client Address"
                  }}</span>
                </td>
                <td class="border-right">
                  <span>{{
                    branchDetailsData.city.name
                      ? branchDetailsData.city.name
                      : "Branch City"
                  }}</span>
                </td>
                <td>
                  <span>{{ branchEmployeesArray.length }}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Add Employees  -->
    <div class="add-employees mt-5">
      <h5>
        ADD EMPLOYEES
      </h5>
      <form
        (ngSubmit)="onSubmit()"
        #form="ngForm"
        [formGroup]="addBranchsEmloyeeForm"
        class="row mt-3 justify-content-between"
      >
        <div class="col-lg-4 col-md-12 col-sm-12 px-0">
          <div class="col-md-12">
            <div class="form-group">
              <label>Employee Role <span class="text-red">*</span></label>
              <select
                class="input-text w-100"
                formControlName="role_id"
                (change)="
                  selectEmployee('role'); seletetEmployeeRoleOption(roleIndex)
                "
                value="{{ selectedRoleIndex }}"
                required
              >
                <option value="" disabled selected="selected" value=""
                  >Please Employee Role</option
                >
                <option
                  *ngFor="
                    let employeeRole of employeeRolesArray;
                    let roleIndex = index
                  "
                  [value]="roleIndex"
                  (click)="seletetEmployeeRoleOption(roleIndex)"
                  >{{
                    employeeRole.name ? employeeRole.name : "Employee Role"
                  }}</option
                >
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Employee Name <span class="text-red">*</span></label>
              <select
                *ngIf="!updateMode"
                class="input-text w-100"
                formControlName="employee_id"
                (change)="selectEmployee('emp')"
                value="{{ selectedEmployeeIndex }}"
                required
              >
                <option value="" disabled selected="selected"
                  >Please Employee Name</option
                >
                <option
                  *ngFor="let employee of employeesDetailsArray; let i = index"
                  [value]="i"
                  >{{ employee.name }}
                </option>
              </select>
              <select
                *ngIf="updateMode"
                class="input-text w-100"
                formControlName="employee_id"
                (change)="selectEmployee('emp')"
                value="{{ selectedEmployeeIndex }}"
                required
                disabled
              >
                <option value="" disabled selected="selected">{{
                  employeeEditeName
                }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <button
              class="submit-btn"
              [disabled]="
                (!updateMode &&
                  addBranchsEmloyeeForm.dirty &&
                  !addBranchsEmloyeeForm.invalid &&
                  addBranchsEmloyeeForm.value.role_id !== '' &&
                  addBranchsEmloyeeForm.value.employee_id !== '') ||
                (updateMode && addBranchsEmloyeeForm.value.role_id !== '')
                  ? false
                  : true
              "
            >
              {{ updateMode ? "Update" : "Add" }}
            </button>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6">
          <div class="">
            <div class="role-table">
              <table class="border-0">
                <thead>
                  <tr>
                    <th scope="col">EMPLOYEE NAME</th>
                    <th class="" scope="col">ROLE</th>
                    <th class="" scope="col">
                      MOBILE
                    </th>
                    <th class="" scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let branchEmployee of branchEmployeesArray">
                    <td>
                      {{
                        branchEmployeesArray.length > 0
                          ? branchEmployee.name
                          : ""
                      }}
                    </td>
                    <td class="">
                      {{
                        branchEmployeesArray.length > 0
                          ? branchEmployee.role.name
                          : ""
                      }}
                    </td>
                    <td class="">
                      {{
                        branchEmployeesArray.length > 0
                          ? branchEmployee.mobile
                          : ""
                      }}
                    </td>
                    <td class="">
                      <div>
                        <button
                          id="editButton"
                          class="basic_button"
                          type="button"
                          (click)="editBranchEmployee(branchEmployee.id)"
                        >
                          <img
                            src="../../../../../assets/icon/edit.svg"
                            alt=""
                          />
                        </button>
                        <button
                          id="editButton"
                          class="basic_button"
                          type="button"
                          (click)="
                            deleteEmployeeFromBranch(
                              branchEmployee.id,
                              branchEmployee
                            )
                          "
                        >
                          <img
                            src="../../../../../assets/icon/delete.svg"
                            alt=""
                          />
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
