<div class="animated fadeIn" id="branches">
  <!-- Start Header -->
  <header class="bg-blue p-5">
    <div class="row align-items-end">
      <!-- left-hand-side-of-header -->
      <div
        class="row align-items-baseline col-12 justify-content-between no-gutters pl-0"
      >
        <div class="col-8">
          <!-- Titles -->
          <h6 class="col-12 p-0">Branches | List</h6>
          <h3 class="text-uppercase">
            Branches List
          </h3>
        </div>
        <div class="col-4 row justify-content-end">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome Habiba
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
        </div>
        <!-- Filter -->
        <p class="col-12 p-0 mt-0 text-white">
          Filter by :
        </p>
        <!-- Branch -->
        <div class="col-3 p-0">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Branch Name</mat-label>
            <input
              type="text"
              placeholder="Branch Name"
              aria-label="Number"
              matInput
              [formControl]="myControlBranch"
              [matAutocomplete]="autoBranch"
              [(ngModel)]="branchValue"
            />
            <mat-icon
              class="text-black-50 pointer"
              matSuffix
              aria-label="Clear"
              (click)="branchValue = ''"
              >close</mat-icon
            >
            <mat-autocomplete
              #autoBranch="matAutocomplete"
              [displayWith]="displayBranch"
            >
              <mat-option
                *ngFor="let option of filteredBranches | async"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-3 row justify-content-end p-0">
          <button
            class="addBtn w-100"
            data-toggle="modal"
            (click)="myModal2.show(branchesForm.reset())"
            (click)="clearError()"
          >
            <i class="icon-settings mr-2 align-middle"></i>
            Add New Branch
          </button>
        </div>
        <div class="col-12 row justify-content-start pl-3 mt-2 mb-3">
          <p class="text-white m-0" *ngIf="dataSource.data.length > 1">
            Search Result {{ dataSource.data.length }} Items
          </p>
          <p class="text-white m-0" *ngIf="dataSource.data.length == 1">
            Search Result {{ dataSource.data.length }} Item
          </p>
          <p *ngIf="!dataSource.data.length" class="text-white m-0">
            No Data Available
          </p>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <!-- Start Table -->
  <div class="floated container-fluid relative">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.id }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>BRANCH NAME</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.name }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="city.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CITY</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.city.name }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ADDRESS</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.address }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          BRANCH MANAGER
        </th>
        <td mat-cell *matCellDef="let row">
          <span *ngIf="row.manager">{{ row.manager.name }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="employees">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMPLOYEES</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.employess }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DETAILS</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="detailsmenu "
          (mouseenter)="hideme[row.id] = !hideme[row.id] && (testArea = true)"
          (mouseleave)="hideme[row.id] = !hideme[row.id] && (testArea = false)"
        >
          <ng-container>
            <div id="showOrdercontrols" *ngIf="hideme[row.id]">
              <button
                id="editButton"
                class="basic_button"
                type="button"
                routerLink="details"
                [queryParams]="{ id: row.id }"
              >
                <img src="../../../assets/icon/details.svg" alt="" />
                <span class="tooltiptext">Details</span>
              </button>
              <button
                id="editButton"
                class="basic_button"
                type="button"
                (click)="
                  openUpdataPopup(row, index); itemStockDetailsData = row
                "
              >
                <img src="../../../assets/icon/edit.svg" alt="" />
                <span class="tooltiptext">Edit</span>
              </button>
              <button
                id="editButton"
                (click)="opendeletePopup(row); deletedStockIndex = index"
                class="basic_button"
                type="button"
              >
                <img src="../../../assets/icon/delete.svg" alt="" />
                <span class="tooltiptext">Delete</span>
              </button>
            </div>
          </ng-container>
          <button class="buttonListItems">
            <img src="../../../assets/icon/menu.svg" alt="" />
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Paginator -->
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 40, 50]"
      (page)="pageEvent = $event; onPaginateChange($event)"
    ></mat-paginator>
    <div style="position: relative;">
      <div class="paginator">
        <span class="mr-2 text-white" style="font-size: 12px;"
          >Number of Page</span
        >
        <select name="" id="" (change)="selectPage($event.target.value)">
          <option
            *ngFor="let num of numberOfPages; let i = index"
            [value]="num"
          >
            {{ num }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <!-- End Table -->
  <!-- Add New Branch Modal -->
  <div
    bsModal
    #myModal2="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-settings mt-2 mr-2 align-middle"></i>
          <h4 class="modal-title">Create New Branch</h4>
          <button
            type="button"
            class="close"
            (click)="myModal2.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="branchesForm"
            (ngSubmit)="onSubmitBranch(branchesForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail2"
                    >Branch Name <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Branch Name"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.name.errors?.required &&
                    branchesForm.controls.name.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.name"
                  >{{ modalError.name }}</mat-hint
                >
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail3"
                    >Branch Address <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="address"
                    autocomplete="off"
                    placeholder="Branch Address"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.address.errors?.required &&
                    branchesForm.controls.address.touched &&
                    !modalError.address
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.address"
                  >{{ modalError.address }}</mat-hint
                >
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail3"
                    >Branch Phone <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="phone"
                    autocomplete="off"
                    placeholder="Branch Phone"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.phone.errors?.required &&
                    branchesForm.controls.phone.touched &&
                    !modalError.phone
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.phone"
                  >{{ modalError.phone }}</mat-hint
                >
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Branch City <span class="text-red">*</span></label>
                  <select class="input-text w-100" formControlName="city_id">
                    <option value="" disabled selected="selected"
                      >Please Select City</option
                    >
                    <option
                      *ngFor="let city of citiesListArray; let i = index"
                      [value]="city.id"
                      >{{ city.name }}
                    </option>
                  </select>
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.city_id.errors?.required &&
                    branchesForm.controls.city_id.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.city_id"
                  >{{ modalError.city_id }}</mat-hint
                >
              </div>
            </div>
            <div class="modal-footer border-0 justify-content-start pl-0">
              <button type="submit" class="submit-btn">
                <i class="icon-settings mr-2 align-middle"></i>
                Add Branch
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Update Branch Modal -->
  <div
    bsModal
    #myModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-settings mt-2 mr-2 align-middle"></i>
          <h4 class="modal-title">Update Branch</h4>
          <button
            type="button"
            class="close"
            (click)="myModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="branchesForm"
            (ngSubmit)="onUpdateBranch(branchesForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail2"
                    >Branch Name <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Branch Name"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.name.errors?.required &&
                    branchesForm.controls.name.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.name"
                  >{{ modalError.name }}</mat-hint
                >
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail3"
                    >Branch Address <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="address"
                    autocomplete="off"
                    placeholder="Branch Address"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.address.errors?.required &&
                    branchesForm.controls.address.touched &&
                    !modalError.address
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.address"
                  >{{ modalError.address }}</mat-hint
                >
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="exampleInputEmail3"
                    >Branch Phone <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="phone"
                    autocomplete="off"
                    placeholder="Branch Phone"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.phone.errors?.required &&
                    branchesForm.controls.phone.touched &&
                    !modalError.phone
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.phone"
                  >{{ modalError.phone }}</mat-hint
                >
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Branch City <span class="text-red">*</span></label>
                  <select class="input-text w-100" formControlName="city_id">
                    <option
                      *ngIf="cityName"
                      [value]="city_id"
                      selected="selected"
                      hidden
                      >{{ cityName }}</option
                    >
                    <option
                      *ngIf="!cityName"
                      value=""
                      disabled
                      selected="selected"
                      >Please Select City</option
                    >
                    <option
                      *ngFor="let city of citiesListArray"
                      [value]="city.id"
                      >{{ city.name }}
                    </option>
                  </select>
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.city_id.errors?.required &&
                    branchesForm.controls.city_id.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.city_id"
                  >{{ modalError.city_id }}</mat-hint
                >
              </div>
            </div>
            <div class="modal-footer border-0 justify-content-start pl-0">
              <button type="submit" class="submit-btn">
                <i class="icon-settings mr-2 align-middle"></i>
                Update Branch
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete One Item -->
  <div
    id="deleteModal"
    bsModal
    #deleteModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline border-0">
          <button
            type="button"
            class="close"
            (click)="deleteModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 text-center">
            <span>For delete item please type</span> DELETE
          </h4>
          <form
            [formGroup]="deleteForm"
            (ngSubmit)="deleteBranch()"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-8 row">
                <div class="form-group col-12 no-gutters">
                  <input
                    type="text"
                    class="input-text w-100"
                    formControlName="deleteInput"
                    placeholder="DELETE"
                  />
                </div>
              </div>
              <div class="col-md-4 modal-footer border-0 p-0">
                <button type="submit" class="submit-btn">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
