<div class="animated fadeIn" id="clients">
  <!-- Start Header -->
  <header class="bg-blue p-5">
    <div class="row align-items-end">
      <!-- left-hand-side-of-header -->
      <div
        class="row align-items-baseline no-gutters pl-0 col-12 justify-content-between"
      >
        <!-- Titles -->
        <div class="col-8">
          <!-- Titles -->
          <h6 class="col-12 p-0">Clients | List</h6>
          <h3 class="text-uppercase">
            CLIENTS
          </h3>
        </div>
        <div class="col-4 row justify-content-end">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome Habiba
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
        </div>
        <!-- Filter -->
        <p class="col-12 p-0 text-white">
          Filter by :
        </p>
        <!-- stone -->
        <div class="col-4 p-0">
          <mat-form-field
            class="example-full-width"
            style="width: 100% !important;"
            appearance="outline"
          >
            <mat-label>Name , Mobile</mat-label>
            <input
              type="text"
              placeholder="Name, Mobile"
              aria-label="Number"
              matInput
              [formControl]="clientNameData"
              [matAutocomplete]="autoClient"
              [(ngModel)]="clientValue"
            />
            <mat-icon
              class="pointer text-black-50"
              matSuffix
              aria-label="Clear"
              (click)="clientValue = ''"
              *ngIf="clientValue"
              >close</mat-icon
            >
            <mat-autocomplete
              #autoClient="matAutocomplete"
              [displayWith]="displayclient"
            >
              <mat-option
                *ngFor="let option of filteredclients | async"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <!-- Delete -->
        <div
          class="col-4 pointer mr-3 pl-3 row align-items-center"
          *ngIf="checkedItems > 1"
          (click)="deleteMultiply()"
        >
          <div id="multi-delete" class="d-flex align-items-center">
            <i class="fas fa-trash-alt text-white"></i>
            <span class="text-white pl-2">Delete Items</span>
          </div>
        </div>
        <div class="col-3 row justify-content-end p-0">
          <button
            class="addBtn w-100"
            data-toggle="modal"
            (click)="myModal.show(clientsForm.reset())"
            (click)="clearError()"
          >
            <i class="icon-people mr-2 align-middle"></i>
            Add New Client
          </button>
        </div>
        <div class="col-12 row justify-content-start pl-3 mt-2 mb-3">
          <p class="text-white m-0" *ngIf="dataSource.data.length > 1">
            Search Result {{ dataSource.data.length }} Items
          </p>
          <p class="text-white m-0" *ngIf="dataSource.data.length == 1">
            Search Result {{ dataSource.data.length }} Item
          </p>
          <p *ngIf="!dataSource.data.length" class="text-white m-0">
            No Data Available
          </p>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <!-- Start Table -->
  <div class="floated container-fluid relative">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
            [aria-label]="checkboxLabel()"
          >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-checkbox>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.id }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CLIENT NAME</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.name }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="mobile">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>MOBILE</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.mobile }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.email }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>CREATE DATE</th>
        <td mat-cell *matCellDef="let row">
          <span>{{ row.created_at }}</span>
        </td>
      </ng-container>
      <!-- Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ACTIONS</th>
        <td
          mat-cell
          *matCellDef="let row"
          class="detailsmenu "
          (mouseenter)="hideme[row.id] = !hideme[row.id] && (testArea = true)"
          (mouseleave)="hideme[row.id] = !hideme[row.id] && (testArea = false)"
        >
          <ng-container>
            <div id="showOrdercontrols" *ngIf="hideme[row.id]">
              <button
                id="editButton"
                class="basic_button"
                type="button"
                (click)="
                  openUpdataPopup(row, index); itemStockDetailsData = row
                "
              >
                <img src="../../../assets/icon/edit.svg" alt="" />
                <span class="tooltiptext">Edit</span>
              </button>
              <button
                id="editButton"
                (click)="opendeletePopup(row); deletedStockIndex = index"
                class="basic_button"
                type="button"
              >
                <img src="../../../assets/icon/delete.svg" alt="" />
                <span class="tooltiptext">Delete</span>
              </button>
            </div>
          </ng-container>
          <button class="buttonListItems">
            <img src="../../../assets/icon/menu.svg" alt="" />
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Pagination -->
    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 40, 50]"
      [length]="100"
      (page)="pageEvent = $event; onPaginateChange($event)"
    ></mat-paginator>
    <!-- <div style="position: relative;">
      <div class="paginator">
        <span class="mr-2 text-white" style="font-size: 12px;"
          >Number of Page</span
        >
        <select name="" id="" (change)="selectPage($event.target.value)">
          <option
            *ngFor="let num of numberOfPages; let i = index"
            [value]="num"
          >
            {{ num }}
          </option>
        </select>
      </div>
    </div> -->
  </div>
  <!-- End Table -->
  <!-- Update Client -->
  <div
    bsModal
    #myModal2="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-people mr-2 mt-2 align-middle"></i>
          <h4 class="modal-title">Update Client</h4>
          <button
            type="button"
            class="close"
            (click)="myModal2.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="clientsForm"
            (ngSubmit)="onUpdateclient(clientsForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="exampleInputEmail2"
                    >Client Name <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Client Name"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.name.errors?.required &&
                    clientsForm.controls.name.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.name"
                  >{{ modalError.name }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="exampleInputEmail3"
                    >Client Mobile <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="mobile"
                    autocomplete="off"
                    placeholder="Client Mobile"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.mobile.errors?.required &&
                    clientsForm.controls.mobile.touched &&
                    !modalError.mobile
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.mobile"
                  >{{ modalError.mobile }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Email</label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="email"
                    autocomplete="off"
                    placeholder="Client Email"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.email.errors?.required &&
                    clientsForm.controls.email.touched &&
                    !modalError.email
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.email"
                  >{{ modalError.email }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Reseller</label>
                  <mat-slide-toggle
                    class="example-margin w-100"
                    [checked]="checked"
                    [disabled]="disabled"
                    formControlName="reseller"
                  >
                  </mat-slide-toggle>
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.email.errors?.required &&
                    clientsForm.controls.email.touched &&
                    !modalError.email
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.email"
                  >{{ modalError.email }}</mat-hint
                >
              </div>
            </div>
            <div class="modal-footer border-0 justify-content-start pl-0">
              <button type="submit" class="submit-btn">
                <i class="icon-people mr-2 align-middle"></i>
                Update Client
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Create New Client -->
  <div
    bsModal
    #myModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-people mr-2 mt-2 align-middle"></i>
          <h4 class="modal-title">Add New Client</h4>
          <button
            type="button"
            class="close"
            (click)="myModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="clientsForm"
            (ngSubmit)="onSubmitClient(clientsForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Name <span class="text-red">*</span></label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Client Name"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.name.errors?.required &&
                    clientsForm.controls.name.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.name"
                  >{{ modalError.name }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Mobile <span class="text-red">*</span></label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="mobile"
                    autocomplete="off"
                    placeholder="Client Mobile"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.mobile.errors?.required &&
                    clientsForm.controls.mobile.touched &&
                    !modalError.mobile
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.mobile"
                  >{{ modalError.mobile }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Email</label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="email"
                    autocomplete="off"
                    placeholder="Client Email"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.email.errors?.required &&
                    clientsForm.controls.email.touched &&
                    !modalError.email
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.email"
                  >{{ modalError.email }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Reseller</label>
                  <mat-slide-toggle
                    class="example-margin w-100"
                    [checked]="checked"
                    [disabled]="disabled"
                    formControlName="reseller"
                  >
                    Check if reseller
                  </mat-slide-toggle>
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.email.errors?.required &&
                    clientsForm.controls.email.touched &&
                    !modalError.email
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.email"
                  >{{ modalError.email }}</mat-hint
                >
              </div>
            </div>
            <div class="modal-footer border-0 justify-content-start pl-0">
              <button type="submit" class="submit-btn">
                <i class="icon-people mr-2 align-middle"></i>
                Add Client
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete One Item -->
  <div
    id="deleteModal"
    bsModal
    #deleteModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline border-0">
          <button
            type="button"
            class="close"
            (click)="deleteModal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 text-center">
            <span>For delete item please type</span> DELETE
          </h4>
          <form
            [formGroup]="deleteForm"
            (ngSubmit)="deleteClient()"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-8 row">
                <div class="form-group col-12 no-gutters">
                  <input
                    type="text"
                    class="input-text w-100"
                    formControlName="deleteInput"
                    placeholder="DELETE"
                  />
                </div>
              </div>
              <div class="col-md-4 modal-footer border-0 p-0">
                <button type="submit" class="submit-btn">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete Two Item -->
  <div
    id="deleteModal"
    bsModal
    #delete2Modal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex align-items-baseline border-0">
          <button
            type="button"
            class="close"
            (click)="delete2Modal.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">Close</span>
          </button>
        </div>
        <!-- Body -->
        <div class="modal-body">
          <h4 class="modal-title mb-4 text-center">
            <span>For delete items please type</span> DELETE
          </h4>
          <form
            [formGroup]="deleteForm"
            (ngSubmit)="removeMultiply()"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-8 row">
                <div class="form-group col-12 no-gutters">
                  <input
                    type="text"
                    class="input-text w-100"
                    formControlName="deleteInput"
                    placeholder="DELETE"
                  />
                </div>
              </div>
              <div class="col-md-4 modal-footer border-0 p-0">
                <button type="submit" class="submit-btn">
                  Delete
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
