<div class="animated fadeIn" id="make-new-sale">
  <!-- Start Header -->
  <header class="bg-blue px-5 py-3">
    <div class="row align-items-end">
      <!-- left-hand-side-of-header -->
      <div class="row align-items-start w-100 justify-content-between">
        <div class="col-8">
          <!-- Titles -->
          <h6 class="col-12 p-0">Dashboard | Sales | Add new Sale</h6>
          <h3 class="text-uppercase">
            ADD NEW SALE
          </h3>
        </div>
        <div class="col-4 row justify-content-end">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome Habiba ,
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
        </div>
        <div class="col-7"></div>
        <div class="col-3 row justify-content-end">
          <button class="addBtn" routerLink="/sales/sales-list">
            <i class="icon-basket-loaded mr-2 align-middle"></i>
            Sales List
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <div class="row no-gutters">
    <div class="col-md-8 p-5">
      <form [formGroup]="productSelectForm">
        <div class="row no-gutters align-items-end justify-content-between">
          <mat-form-field
            class="example-full-width col-9 mr-3"
            appearance="outline"
          >
            <mat-label>Enter Item Code</mat-label>
            <input
              type="text"
              placeholder="Enter Item Code"
              aria-label="Number"
              matInput
              [formControl]="filterCode"
              [matAutocomplete]="autoCode"
              [(ngModel)]="codeValue"
            />
            <mat-icon
              class="pointer"
              matSuffix
              aria-label="Clear"
              (click)="clearSearch()"
              *ngIf="codeValue"
              >close</mat-icon
            >
            <mat-autocomplete
              #autoCode="matAutocomplete"
              [displayWith]="displayCode"
            >
              <mat-option
                (onSelectionChange)="selectProduct($event.source.value, i)"
                *ngFor="let option of filterCodes | async; let i = index"
                [value]="option"
              >
                {{ option.label }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button
            class="submit-btn col-2"
            type="button"
            (click)="addItemTosellingProductListArray()"
            [disabled]="addDisAbledState"
            style="padding: 7px; font-weight: 700"
          >
            <i class="icon-basket-loaded mr-2 align-middle"></i>
            ADD ITEM
          </button>
        </div>
        <mat-hint
          class="alert alert-danger mt-2 w-100 d-block"
          *ngIf="errMessage.items"
          >{{ errMessage.items }}</mat-hint
        >
        <mat-hint
          class="alert alert-danger mt-2 w-100 d-block"
          *ngIf="emptyArr"
        >
          No product available in that branch
        </mat-hint>
      </form>
      <div
        id="selected-products"
        class="mt-3"
        *ngIf="sellingProductListArray.length"
      >
        <h5>Products Selected : {{ sellingProductListArray.length }}</h5>
        <table class="table table-responsive-sm table-striped">
          <thead>
            <tr>
              <th>Image</th>
              <th>Product Code</th>
              <th>Weight</th>
              <th>Stones</th>
              <th>Total in USD</th>
              <th>Total in EGP</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of sellingProductListArray; let i = index">
              <td>
                <img
                  *ngIf="product.image"
                  width="100%"
                  src="http://jewelry.ixscope.com/backend/img/products/{{
                    product.image
                  }}"
                  [alt]="product.label"
                />
              </td>
              <td *ngIf="product.label">
                {{ product.label }}

                <h5 class="mt-4" *ngIf="product.stones.length">
                  Stones {{ product.stones.legnth }}
                </h5>

                <form
                  [formGroup]="editProductStoneForm"
                  *ngIf="product.stones.length"
                >
                  <table class="table inside-table table-striped">
                    <thead>
                      <tr class="">
                        <th scope="col" class="border-right">Stone Name</th>
                        <th scope="col" class="border-right">Quantity</th>
                        <th class="border-right" scope="col">
                          Weight (cts)
                        </th>
                        <th class="border-right" scope="col">
                          Cost ($)
                        </th>
                        <th class="border-right" scope="col">
                          Setting
                        </th>
                        <th scope="col">Total ($)</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        class="text-center"
                        *ngFor="
                          let stone of product.stones;
                          let stoneIndex = index
                        "
                      >
                        <td class="pb-0 border-right" *ngIf="stone.name">
                          {{ stone.name }}
                        </td>
                        <td class="pb-0 border-right" *ngIf="stone.quantity">
                          <input
                            class="stone-input text-center"
                            value="{{ stone.quantity }}"
                            formControlName="productStoneQuantity"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, i, 'sW')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                          />
                        </td>
                        <td class="border-right" *ngIf="stone.weight">
                          <input
                            class="stone-input text-center"
                            value="{{ stone.weight }}"
                            formControlName="productStoneWeight"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, i, 'sW')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                          />
                        </td>
                        <td class="border-right">
                          <input
                            class="stone-input text-center"
                            value="{{ stone.price }}"
                            formControlName="productStonePrice"
                            autocomplete="off"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, i, 'sP')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                          />
                        </td>
                        <td class="border-right">
                          <input
                            class="stone-input text-center"
                            value="{{ stone.setting }}"
                            formControlName="productStoneSetting"
                            autocomplete="off"
                            (keyup)="
                              calculateStoneTotal($event, stoneIndex, i, 'sS')
                            "
                            (keypress)="numberCheckValidation($event)"
                            maxlength="9"
                          />
                        </td>
                        <td class="" *ngIf="stone.total">
                          {{ stone.total }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </form>
              </td>
              <td>{{ product.gold_weight }}</td>
              <td>{{ product.stones.length }}</td>
              <td>
                {{ product.item_total_after_profit }}
              </td>
              <td>
                {{ product.item_total_after_profit * dollarPrice }}
              </td>
              <td>
                <img
                  class="pointer"
                  src="../../../assets/icon/delete.svg"
                  (click)="removeItem($event, stoneIndex, i, 'sP')"
                  alt=""
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-4 p-5" id="sale-details">
      <form [formGroup]="invoiceDataform" class="row no-gutters">
        <!-- Start Form field -->
        <div class="col-md-12">
          <label
            ><img src=".././../../assets/icon/employee-2.svg" />
            <span class="ml-2">Client Name or Mobile</span>
          </label>
          <mat-form-field class="example-full-width pb-0" appearance="outline">
            <mat-label>Client Name or Mobile</mat-label>
            <input
              type="text"
              placeholder="Client"
              aria-label="Number"
              matInput
              [formControl]="clientNameData"
              [matAutocomplete]="autoClient"
              [(ngModel)]="clientValue"
            />
            <mat-icon
              class="pointer"
              matSuffix
              aria-label="Clear"
              (click)="clientValue = ''"
              *ngIf="clientValue"
              >close</mat-icon
            >
            <mat-autocomplete
              #autoClient="matAutocomplete"
              [displayWith]="displayClient"
            >
              <mat-option
                (onSelectionChange)="getClientId($event.source.value)"
                *ngFor="let option of filteredClients | async"
                [value]="option"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-hint
              class="pointer mt-4"
              (click)="clearError()"
              (click)="myModalClient.show(clientsForm.reset())"
              align="end"
              style="color:#20a8d8; font-size: 12px;"
              >Add New Client</mat-hint
            >
          </mat-form-field>
          <mat-hint
            class="alert alert-danger mt-2 w-100 d-block"
            *ngIf="errMessage.client_id"
            >{{ errMessage.client_id }}</mat-hint
          >
        </div>
        <div class="col-md-12 mt-3">
          <div class="form-group">
            <label>
              <img src="../.././../assets/icon/calendar.svg" />
              <span class="ml-2">Date</span>
            </label>
            <input
              matInput
              [matDatepicker]="picker"
              placeholder="Choose a Date"
              class="input-text w-100 pointer"
              id="exampleInputEmail1"
              autocomplete="off"
              (click)="picker.open()"
              (dateInput)="entryDateChanged($event, 'from')"
              (keypress)="(false)"
              required
            />
            <mat-datepicker touchUi #picker> </mat-datepicker>
          </div>
          <mat-hint
            class="alert alert-danger w-100 d-block"
            *ngIf="errMessage.receipt_date"
            >{{ errMessage.receipt_date }}</mat-hint
          >
        </div>
        <div class="col-md-12 mt-3">
          <div class="form-group">
            <label
              ><img src="../.././../assets/icon/placeholder.svg" />
              <span class="ml-2">Warehouse</span>
            </label>
            <select
              class="input-text w-100"
              formControlName="branch"
              value=""
              (change)="getSelectedListOptionId($event.target)"
              required
            >
              <option value="" disabled selected hidden *ngIf="isInvoiced">{{
                branch_name
              }}</option>
              <option value="" disabled selected hidden>{{
                branchesList[0].name
              }}</option>
              <option *ngFor="let branch of branchesList" [value]="branch.id">
                {{ branch.name }}
              </option>
            </select>
            <mat-hint
              style="color:#20a8d8;
              font-size: 12px;"
              class="mt-1 float-right pointer"
              align="end"
              (click)="clearError()"
              (click)="myModalBranch.show(branchesForm.reset())"
              >Add New Warehouse</mat-hint
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Fixed Price -->
  <div class="price-fixed row no-gutters">
    <div class="col-lg-8 py-3">
      <form [formGroup]="paidAmountForm">
        <table class="table border-0 ">
          <thead>
            <tr class="border-0">
              <!-- <th scope="col" class="border-right text-center">Total USD</th> -->
              <th class="border-right text-center" scope="col">
                Total EGP
              </th>
              <th class="border-right text-center" scope="col">Amount Paid</th>
              <th scope="col">Payment Method</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <!-- <td
                class="border-right text-center"
                style=" font-size: 19px;
                font-weight: 600;"
              >
                {{ invoiceTotal }}
              </td> -->
              <td class="border-right text-center">
                <input
                  class="input-text w-100 text-center"
                  value="{{
                    invoiceTotal !== 0 ? invoiceTotal * dollarPrice : 0
                  }}"
                  placeholder="Total EGP"
                  formControlName="total_egp"
                  autocomplete="off"
                  (input)="calculateRemaining()"
                />
              </td>
              <td class="border-right text-center">
                <input
                  class="input-text w-75 text-center mr-1"
                  placeholder="Insert Paid Amount"
                  formControlName="paidAmount"
                  autocomplete="off"
                  #paidAmount
                  (input)="calculateRemaining()"
                />
                EGP
                <span
                  *ngIf="remainingPrice"
                  class="text-white bg-transparent d-block mt-3"
                  >Remaining Amount</span
                >
                <span style="font-size: 12px" *ngIf="remainingPrice"
                  >{{ remainingPrice }} EGP</span
                >
              </td>
              <td class="text-center text-red">
                <select
                  (change)="getPaymentType($event.target.value)"
                  class="input-text w-100 text-center"
                >
                  <option value="1" selected="selected">Cash</option>
                  <option value="2">Visa</option>
                  <option value="3">Bank Check</option>
                </select>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <div class="col-md-4 p-0">
      <button class="submit-btn" type="submit" (click)="onSubmit()">
        <i class="icon-basket-loaded mr-2 align-middle"></i>
        Confirm & Generate Invoice
      </button>
    </div>
  </div>
  <!-- Add New Branch Modal -->
  <div
    bsModal
    #myModalBranch="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-settings mt-2 mr-2 align-middle"></i>
          <h4 class="modal-title">Create New Warehouse</h4>
          <button
            type="button"
            class="close"
            (click)="myModalBranch.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="branchesForm"
            (ngSubmit)="onSubmitBranch(branchesForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Warehouse Name <span class="text-red">*</span></label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Warehouse Name"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.name.errors?.required &&
                    branchesForm.controls.name.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.name"
                  >{{ modalError.name }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label
                    >Warehouse Address <span class="text-red">*</span></label
                  >
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="address"
                    autocomplete="off"
                    placeholder="Warehouse Address"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.address.errors?.required &&
                    branchesForm.controls.address.touched &&
                    !modalError.address
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.address"
                  >{{ modalError.address }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Warehouse City <span class="text-red">*</span></label>
                  <select class="input-text w-100" formControlName="city_id">
                    <option value="" selected disabled
                      >Please Select City</option
                    >
                    <option
                      *ngFor="let city of citiesListArray; let i = index"
                      [value]="city.id"
                      >{{ city.name }}
                    </option>
                  </select>
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    branchesForm.controls.city_id.errors?.required &&
                    branchesForm.controls.city_id.touched &&
                    !modalError.city_id
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.city_id"
                  >{{ modalError.city_id }}</mat-hint
                >
              </div>
            </div>
            <div class="modal-footer border-0 justify-content-start px-0">
              <button type="submit" class="submit-btn">
                <i class="icon-settings mt-2 mr-2 align-middle"></i>
                Add Warehouse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Add New Branch Modal -->
  <div
    bsModal
    #myModalClient="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="icon-people mt-2 mr-2 align-middle"></i>
          <h4 class="modal-title">Create New Client</h4>
          <button
            type="button"
            class="close"
            (click)="myModalClient.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="clientsForm"
            (ngSubmit)="onSubmitClient(clientsForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Name <span class="text-red">*</span></label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="name"
                    autocomplete="off"
                    placeholder="Client Name"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.name.errors?.required &&
                    clientsForm.controls.name.touched &&
                    !modalError.name
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.name"
                  >{{ modalError.name }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Mobile <span class="text-red">*</span></label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="mobile"
                    autocomplete="off"
                    placeholder="Client Mobile"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    clientsForm.controls.mobile.errors?.required &&
                    clientsForm.controls.mobile.touched &&
                    !modalError.mobile
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.mobile"
                  >{{ modalError.mobile }}</mat-hint
                >
              </div>
              <div class="col-lg-12">
                <div class="form-group">
                  <label>Client Email</label>
                  <input
                    class="input-text w-100"
                    value=""
                    formControlName="email"
                    autocomplete="off"
                    placeholder="Client Email"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.email"
                  >{{ modalError.email }}</mat-hint
                >
              </div>
            </div>
            <div class="modal-footer border-0 justify-content-start px-0">
              <button type="submit" class="submit-btn">
                <i class="icon-people mt-2 mr-2 align-middle"></i>
                Add Client
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
