<div class="animated fadeIn" id="safe-box-action">
  <!-- Start Header -->
  <header class="bg-blue px-5 pt-5 pb-3">
    <div class="row align-items-end">
      <!-- left-hand-side-of-header -->
      <div class="row align-items-end col-12 justify-content-between">
        <div class="col-8">
          <!-- Titles -->
          <h6 class="col-12 p-0">Sales | Safe Box</h6>
          <h3 class="text-uppercase">
            SAFE BOX
          </h3>
        </div>
        <div class="col-4 row justify-content-end">
          <div class="dropdown">
            <button
              class="btn dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Welcome Habiba
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <button class="dropdown-item" type="button" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
          <div class="col-12 mt-3">
            <button class="addBtn w-100" routerLink="/sales/safe-box-list">
              <i class="icon-basket-loaded mr-2 align-middle"></i>
              Safe Box List
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header -->
  <div class="p-5">
    <div class="row">
      <div class="col-md-6 branch-options">
        <label class="title"
          >Select Branch <span class="text-red">*</span></label
        >
        <select
          class="p-2 input-text w-100"
          (change)="getSelectedListOptionId($event)"
        >
          <option disabled value="">Please Select Branch</option>
          <option selected value="">All</option>
          <option *ngFor="let branch of branchesList" [value]="branch.id">
            {{ branch.name }}</option
          >
        </select>
      </div>
    </div>
    <table class="mt-5">
      <thead>
        <tr class="">
          <th scope="col" class="border-right">
            <img
              class="mr-2"
              src="../../../assets/icon/placeholder.svg"
              alt=""
            />
            Warehouse
          </th>
          <th class="border-right" scope="col">
            <img class="mr-2" src="../../../assets/icon/user-2.svg" alt="" />
            Branch Manager
          </th>
          <th class="border-right" scope="col">
            <img class="mr-2" src="../../../assets/icon/gear.svg" alt="" />
            Payment in safe box
          </th>
          <th class="" scope="col">
            <img class="mr-2" src="../../../assets/icon/calendar.svg" alt="" />
            Date
          </th>
          <th class="" scope="col"></th>
          <th class="" scope="col"></th>
          <th class="" scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let box of safeBoxArray; let i = index">
          <td
            class="border-right text-center"
            *ngIf="box.branches.name ? box.branches.name : '-'"
          >
            {{ box.branches.name }}
          </td>
          <td
            class="border-right text-center"
            *ngIf="box.branches.managers.length"
          >
            {{ box.branches.managers[0].name }}
          </td>
          <td
            class="border-right text-center"
            *ngIf="!box.branches.managers.length"
          >
            -
          </td>
          <td
            class="border-right text-center"
            *ngIf="box.total ? box.total : '-'"
          >
            {{ box.total }} EGP
          </td>
          <td class="text-center" *ngIf="box.created ? box.created : '-'">
            {{ box.created }}
          </td>
          <td class="text-center d-flex justify-content-end">
            <button
              class="submit-btn w-100"
              (click)="getEmpty(box)"
              [disabled]="box.total == 0"
              [ngClass]="{ disabledSubmitButton: box.total == 0 }"
              *ngIf="box.total != 0"
            >
              <i class="mr-2 fas fa-hand-holding-usd"></i>
              Empty
            </button>
          </td>
          <td class="">
            <button
              class="submit-btn w-100"
              (click)="getBranch(box)"
              [disabled]="box.total == 0"
              [ngClass]="{ disabledSubmitButton: box.total == 0 }"
              *ngIf="box.total != 0"
            >
              <i class="mr-2 fas fa-dollar-sign"></i>
              Make Payment
            </button>
          </td>
          <td class="">
            <button
              class="submit-btn w-100"
              (click)="makeTransfer(box)"
              [disabled]="box.total == 0"
              [ngClass]="{ disabledSubmitButton: box.total == 0 }"
              *ngIf="box.total != 0"
            >
              <i class="mr-2 fas fa-comments-dollar"></i>
              Money Transfer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mt-5" *ngIf="!safeBoxArray.length">
      <h4 class="alert alert-danger">
        Data is not available
      </h4>
    </div>
  </div>
  <!-- Make Payment -->
  <div
    bsModal
    #myModalPayment="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="mr-2 mt-2 fas fa-dollar-sign"></i>
          <h4 class="modal-title">Add New Payment</h4>
          <button
            type="button"
            class="close"
            (click)="myModalPayment.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="paymentForm"
            (ngSubmit)="onSubmitPayment(paymentForm)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12 no-gutters row">
                <div class="form-group col-12 no-gutters">
                  <label class="title"
                    >Amount (EGP) <span class="text-red">*</span></label
                  >
                  <input
                    id="exampleInputName2"
                    formControlName="payment_amount"
                    autocomplete="off"
                    placeholder="Amount (EGP)"
                    class="input-text w-100"
                  />
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    paymentForm.controls.payment_amount.errors?.required &&
                    paymentForm.controls.payment_amount.touched &&
                    !modalError
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.length"
                  >{{ modalError }}</mat-hint
                >
                <div class="form-group col-12 no-gutters">
                  <label class="title"
                    >Reason <span class="text-red">*</span></label
                  >
                  <input
                    formControlName="reason"
                    autocomplete="off"
                    placeholder="Reason"
                    class="input-text w-100"
                  />
                </div>
              </div>
              <div class="col-md-12 no-gutters row">
                <div class="form-group col-12 no-gutters">
                  <label class="title"
                    >Payment Method <span class="text-red">*</span></label
                  >
                  <select
                    (change)="getPaymentType($event.target.value)"
                    class="input-text w-100"
                  >
                    <option value="1" selected>Cash</option>
                    <option value="2">Visa</option>
                    <option value="3">Bank Check</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer border-0 justify-content-start">
                <button
                  type="submit"
                  class="submit-btn"
                  [disabled]="!paymentForm.controls.payment_amount.value"
                >
                  <i class="mr-2 mt-2 fas fa-dollar-sign"></i>
                  Pay
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Make Transfer Money -->
  <div
    bsModal
    #myModalTransfer="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i class="mr-2 fas mt-2 fa-comments-dollar"></i>
          <h4 class="modal-title">Transfer Money</h4>
          <button
            type="button"
            class="close"
            (click)="myModalTransfer.hide()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            [formGroup]="transferMoney"
            (ngSubmit)="onSubmitTransfer(transferMoney)"
            #form="ngForm"
          >
            <div class="row">
              <div class="col-md-12">
                <h5>
                  Current Branch : <span class="ml-3">{{ branch_name }}</span>
                </h5>
              </div>
              <div class="col-md-12 mt-2 no-gutters row">
                <div class="form-group col-12 no-gutters">
                  <label class="title"
                    >Transfer To <span class="text-red">*</span></label
                  >
                  <select
                    class="p-2 input-text w-100"
                    formControlName="branch_id"
                  >
                    <option disabled selected="selected" value=""
                      >Please Select Branch</option
                    >
                    <option
                      *ngFor="let branch of branchesList"
                      [value]="branch.id"
                    >
                      {{ branch.name }}</option
                    >
                  </select>
                </div>
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="
                    transferMoney.controls.branch_id.errors?.required &&
                    transferMoney.controls.branch_id.touched &&
                    !modalError
                  "
                  >This Field is Required</mat-hint
                >
                <mat-hint
                  class="d-inline-block text-center w-100 alert alert-danger"
                  *ngIf="modalError.length"
                  >{{ modalError }}</mat-hint
                >
                <div class="form-group col-12 no-gutters">
                  <label class="title"
                    >Money (EGP) <span class="text-red">*</span></label
                  >
                  <input
                    formControlName="payment_amount"
                    autocomplete="off"
                    placeholder="Money (EGP)"
                    class="input-text w-100"
                  />
                </div>
              </div>
              <div class="modal-footer border-0 justify-content-start">
                <button
                  type="submit"
                  class="submit-btn"
                  [disabled]="
                    !transferMoney.controls.payment_amount.value ||
                    !transferMoney.controls.branch_id.value
                  "
                >
                  <i class="mr-2 fas mt-2 fa-comments-dollar"></i>
                  Transfer
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
